<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">\
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
  <form th:action="@{/product/edit/{id}(id=${product.getId()})}" th:method="PATCH" th:object="${product}">
      <label for="name">Enter name:</label>
      <input type="text" th:field="*{name}" id="name"/>
      <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
      <br/>
      <label for="description">Enter description:</label>
      <input type="text" th:field="*{description}" id="description"/>
      <br/>
      <label for="price">Enter price:</label>
      <input type="number" th:field="*{price}" id="price"/>
      <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price error</div>
      <br/>
      <input type="submit" value="Update"/>
  </form>
</body>
</html>