<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<p th:text="${product.getName()}">VALUE</p>
<p th:text="${product.getPrice()}">VALUE</p>
<p th:text="${product.getDescription}">VALUE</p>

<form th:method="POST" th:action="@{/product/{id}/buy(id=${product.getId()})}">
    <input type="submit" value="buy"/>
</form>

<form th:method="PATCH" th:action="@{/product/{id}/edit(id=${product.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/product/{id}/delete(id=${product.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:method="GET" th:action="@{/product/getAll}">
    <input th:type="submit" value="back"/>
</form>
</body>
</html>