<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">\
<head>
    <meta charset="UTF-8">
    <title>Update producer</title>
</head>
<body>
<form th:method="patch" th:action="@{/producer/{id}(id=${producer.getId()})}" th:object="${producer}">
<label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <input type="submit" value="update"/>
</form>
</body>
</html>