<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Producer</title>
</head>
<body>
<p th:text="${producer.getName()}">VALUE</p>

<div th:each="product:${producerProducts}">
    <a th:href="@{/product/{id}(id=${product.getId()})}" th:text="${product.getName()}">VALUE</a>
</div>

<form th:method="DELETE" th:action="@{/producer/delete/{id}(id=${producer.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:method="GET" th:action="@{/producer/getAll}">
    <input th:type="submit" value="back"/>
</form>
</body>
</html>