<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">\
<head>
    <meta charset="UTF-8">
    <title>Get All Purchases</title>
</head>
<body>
<div th:each="purchase : ${allPurchase}">
    <a th:href="@{/purchase/{id}(id=${purchase.getId()})}" th:text="${purchase.getUser()}-${purchase.getProduct}">purchase_name</a>
</div>
<form th:method="get" th:action="@{/purchase/save}">
    <input type="submit" value="add">
</form>
</body>
</html>